<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="me" href="https://twitter.com/twitterdev">
  <!-- <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre:400,600,800&amp;subset=sinhala" rel="stylesheet"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="fonts/fonts.css">

  <link rel="stylesheet" href="css/main.css"> {% include head.html %}

</head>

<body>

  <div class="container">
    <h1>

        <img src="/images/akurucon_logo.svg"

               </h1>
  </div>
  <div class="container-wide">

    <h3 style="text-align: center;">
  ලන්දේසි මුද්‍රණ හා අක්ෂර-රූපකරණය තේමාවෙන් අක්ෂර-රූපකරණය සහ නිර්මාණකරනය පිලිබඳ සමුළුව </br>
  ஒல்லாந்தர் அச்சுக்கலை மற்றும் எழுத்தழகியல் நிலைகள் பற்றிய கருப்பொருளில்…</br>
  A conference celebrating the design and typography of the Dutch Press in Ceylon</br>
</h3>

    <div class="divider">෴෴෴෴෴෴ </div>

    <div class="info-box">
      <img style="float:left;margin-right: 60px;" src="/images/date_stamp.png">
      <p>Workshops, talks and a meet up of typography enthusiasts and letter lovers.</p>
      <p>වැඩමුළු, ඉදිරිපත්කිරීම් සහ අකුරු, ග්‍රැෆික් නිර්මාණකරුවන්ගේ හමුවක්</p>


      <img div style="width:50px;"  src="/images/trilingual_service.svg">

        <p>

          සියලු ඉදිරිපත්කිරීම් සිංහල, දෙමල සහ ඉංග්‍රීසි බසින්… </br>
        அனைத்து வெளியீடுகளும் சிங்களம், தமிழ் மற்றும் ஆங்கில மொழிகளில்… </br>
        All presentations in Sinhala, Tamil and English… </br>

      </p>
    </div>

    <div class="divider">෴෴෴෴෴෴ </div>


    <a class="register" href="https://pat.as/akurucon">REGISTER NOW! </br> දැන්ම ලියාපදිංචි වන්න </br> இப்போதே பதிவு செய்க</a>

<p style="text-align:center;"> LKR 1500/=, Early bird offer LKR 1000/= </br> Free for students</p>

    <div class="divider">෴෴෴෴෴෴ </div>


    <div class="partners-box">
AkuruCON 2018 is part of the Dutch Sri Lankan Shared Typography Heritage Project organised by Akuru Collective and Mooniak in collaboration with AOD and the Embassy of the Netherlands in Sri Lanka & Maldives and support of the Royal Asiatic Society of Sri Lanka </br>



      <div class="divider">෴෴෴෴෴෴ </div>

      <ul>
        <li>
          <p> Organised by</p>
          <img src="/images/akuru-logo_triling.svg">
        </li>
        <li>
          <p> With support from</p>
          <img src="/images/aod_logo.png">
        </li>
        <li>
          <p> With support from</p>
          <img  src="/images/RO_KN_Logo_2_301U_pos op wit_x_en.svg">
        </li>
      </ul>
    </div>



<footer>

  <div class="divider">෴෴෴෴෴෴ </div>

  <div class="divider">
Contact: hello@akurucon.com</br>
© 2018 akuru collective</br>

    ෴෴෴෴෴</br> ෴෴෴ </br> ෴ </div>

</footer>

  </div>
  {% include scripts.html %}
</body>

</html>
