body {
  margin: 0;
  padding: 0;
  font-family: Noto Sans Med, sans-serif;
  font-weight: 500;
  color: #351544;
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
}

.sticky + .hero {
  padding-top: 86px;
}

.menu-active {
  color: #351544 !important;
}

.site-page {
  overflow: auto;
  transition: opacity 0.8s ease-in-out;
}

.site-page.transition-appear {
  opacity: 0;
}

.site-page.transition-appear.transition-appear-active {
  opacity: 1;
}
.site-page.transition-leave {
  opacity: 1;
}

.site-page.transition-leave.transition-leave-active {
  opacity: 0;
}

.parallax-to-back {
  z-index: 0 !important;
}
