body {
  margin: 0;
  padding: 0;
  font-family: Noto Sans Med, sans-serif;
  font-weight: 500;
  color: #351544;
}


.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
}

.sticky + .hero {
  padding-top: 86px;
}